@page
@model Lab2.Pages.Registration
@using AcademicManagement; 
@{
    ViewData["Title"] = "Registrations";
}
<h1>@ViewData["Title"]</h1>

<div>

    <div>
        <form method="post" id="registerForm">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <select asp-for="SelectedStudentId" asp-items="Model.StudentOptions" class="form-select" id="selection">
                        <option value="">Choose a student</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input type="submit" class="d-none" value="Get Registrations" asp-page-handler="Register" id="submitBtn"/>
                </div>
            </div>

            
            @if (!Model.IsStudentSelected)
            {
                <p class="text-primary mt-4 ">@Model.ErrorMessage</p>
            }
            @if (!string.IsNullOrEmpty(Model.SelectedStudentId))
            {
                var selectedStudent = Model.Students.FirstOrDefault(s => s.StudentId == Model.SelectedStudentId);
                if (selectedStudent != null)
                {
                    
                    <input type="hidden" asp-for="SelectedStudentId"/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            @if (Model.AcademicRecords.Count == 0)
                            {
                                <th>Check to register</th>
                            }
                            @if (Model.AcademicRecords.Count != 0)
                            {
                                <th class="d-flex justify-content-end align-content-end ">
                                    <button onclick="invokeFunction(event,'Grade')" class="btn btn-primary">Sort by Grade</button>
                                </th>
                            }

                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.AcademicRecords.Count == 0)
                        {
                            @foreach (var course in Model.Courses)
                            {
                                <tr>
                                    <td>@course.CourseCode</td>
                                    <td>@course.CourseTitle</td>
                                    
                                    <td>

                                        <input type="checkbox" id="CourseCode" name="CourseCode" value="@course.CourseCode"/>

                                    </td>

                                </tr>
                            }
                        }
                        @* comment *@
                        else
                        {
                            @foreach (var course in Model.AcademicRecords)
                            {
                                <tr>
                                    <td>@course.CourseCode</td>
                                    <td>@Model.Courses.Find(c => c.CourseCode == @course.CourseCode)?.CourseTitle</td>
                                    @if(course.Grade == -100)
                                    {
                                        <td class="d-flex justify-content-end align-content-end"> <input type="number" class="form-control w-auto" id="Grade" name="Grade"> </td>
                                    }
                                    else
                                    {
                                        <td class="d-flex justify-content-end align-content-end "> <input type="number" class="form-control w-25" value="@course.Grade" id="Grade" name="Grade"> </td>
                                    }
                                    
                                    <input type="hidden" value="@course.CourseCode" name="courseCodes" id="courseCodes"/>

                                </tr>
                            }
                        }
                        
                        </tbody>
                    </table>
                    @if (Model.AcademicRecords.Count == 0)
                    {
                        <input type="submit" class="btn btn-primary" value="Register" asp-page-handler="StudentSelected"/>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-primary" value="Submit Grades" asp-page-handler="SubmitGrades"/>
                    }
                    

                }
                else
                {
                    <p>No student found with the selected ID.</p>
                }
            }
            
        </form>
        <form id="parameterForm" method="post" >
            <input type="hidden" id="sortParam" name="sortParam" />
            @* get selected student *@
            <input type="hidden" id="selectedStudentId" name="selectedStudentId" value="@Model.SelectedStudentId" />
            <input type="submit" class="btn btn-primary d-none" id="sortBtn" value="Grades" asp-page-handler="InvokeFunction"/>
        </form>
    </div>

</div>
<script>
    const selection = document.getElementById("selection");
    const registerForm = document.getElementById("registerForm");
    const submitBtn = document.getElementById("submitBtn");
    selection.addEventListener("change", function () {
        submitBtn.click();
    });
    function invokeFunction(event,param) {
        event.preventDefault();
        const sortParam = document.getElementById("sortParam");
        sortParam.value = param;
        const sortBtn = document.getElementById("sortBtn");
        sortBtn.click();
    }
</script>